@model Client.ViewModel.IndexViewModel;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = HttpContextAccessor.HttpContext.User.Identity.Name;
    ViewData["Sample"] = "[100, 50, 20, 40, 80, 50, 80, 123, 108, 70, 35, 90]";

    double ltrs = 0.0;
    double rtns = 0.0;
    double amts = 0.0;

    foreach (var reading in Model.Readings)
    {
        ltrs += reading.Closing - reading.Opening - reading.Adjustment;
        rtns += reading.Tests;
        amts += reading.Price * (reading.Closing - reading.Opening - reading.Adjustment - reading.Tests);
    }

    double fuel = 0.0;
    double lube = 0.0;
    double disc = 0.0;

    foreach (var ldg in Model.Ledgers)
    {
        fuel += ldg.FuelSales;
        lube += ldg.LubeSales;
        disc += ldg.Discounts;
    }
}

<script>
    //  Trending line chart data (Stations Sales)
    var trendingLineChart;
    var data = {
        labels: ["Uhuru", "Ojijo", "Bypass", "Kinoru", "Kaaga", "View Pt", "Maua", "Kirunga", "Posta", "Walton", "Nkubu", "Oryx"],
        datasets: [{
                label: "Fuel Sales",
                fillColor: "rgba(128, 222, 234, 0.6)",
                strokeColor: "#ffffff",
                pointColor: "#00bcd4",
                pointStrokeColor: "#ffffff",
                pointHighlightFill: "#ffffff",
                pointHighlightStroke: "#ffffff",
                data: @ViewData["Sample"]
            },
            {
                label: "Lube Sales",
                fillColor: "rgba(128, 222, 234, 0.3)",
                strokeColor: "#80deea",
                pointColor: "#00bcd4",
                pointStrokeColor: "#80deea",
                pointHighlightFill: "#80deea",
                pointHighlightStroke: "#80deea",
                data: [60, 20, 90, 80, 50, 85, 40, 30, 70, 20, 50, 70]
            }
        ]
    };

    setInterval(function() {
        // Get a random index point
        var indexToUpdate = Math.round(Math.random() * (data.labels.length - 1));
        if (typeof trendingLineChart != "undefined") {
            // Update one of the points in the second dataset
            if (trendingLineChart.datasets[0].points[indexToUpdate].value) {
                trendingLineChart.datasets[0].points[indexToUpdate].value = Math.round(Math.random() * 100);
            }
            if (trendingLineChart.datasets[1].points[indexToUpdate].value) {
                trendingLineChart.datasets[1].points[indexToUpdate].value = Math.round(Math.random() * 100);
            }
            trendingLineChart.update();
        }
    }, 2000);

    jq(function() {
        jq('.fc-prev-button, .fc-next-button').click(function(){
            window.location.href = "/?date=" + jq(this).data('date');
        });
    });
</script>
<script src="~/js/scripts/dashboard-analytics.js"></script>

<link rel="stylesheet" href="~/css/vendor.fullcalendar.css" />
<style type="text/css">
    .collection {
        margin: 0.5rem 0 0 0;
    }

    .fc-button-group button {
        height: 25px;
    }
</style>

<!--dashboard Icons-->
<div id="card-stats">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s5 m5">
                        <i class="material-icons background-round mt-5">add_shopping_cart</i>
                        <p>Fuel Sales</p>
                    </div>
                    <div class="col s7 m7 right-align">
                        <h5 class="mb-0">@string.Format("{0:N0}", ltrs)</h5>
                        <p class="no-margin">Litres</p>
                        <p>Ksh @string.Format("{0:N3}", amts)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">perm_identity</i>
                        <p>Customers</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">1,885</h5>
                        <p class="no-margin">Invoices</p>
                        <p>44,112,900</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">timeline</i>
                        <p>Fuel Sales</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">20%</h5>
                        <p class="no-margin">Growth</p>
                        <p>73,420,230</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">attach_money</i>
                        <p>Profit/Loss</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">21.80%</h5>
                        <p class="no-margin">Today</p>
                        <p>6,525,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:-20px;">
    <div class="col-md-6 zero-margin" style="padding-right:10px">
        <div class="card zero-margin">
            <div class="card-content deep-orange accent-2 white-text table-card" style="border-radius:0">
                <h5 class="card-stats-number"><i class="material-icons left">local_gas_station</i>Pump Sales</h5>
                <p class="card-stats-compare right">
                    <i class="material-icons">mode_edit</i>
                    <a class="deep-orange-text text-lighten-5" href='/edit/readings/@Model.Timestamp.ToString("yyyyMMdd")'>Update</a>
                </p>
            </div>

            <table id="reading" class="custom bordered">
                <thead class="deep-orange accent-2">
                    <tr>
                        <th>PUMP</th>
                        <th>O/P MTR</th>
                        <th>C/P MTR</th>
                        <th>LTRS</th>
                        <th>RETURNS</th>
                        <th>PRICE</th>
                        <th class="right">AMOUNT</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var reading in Model.Readings)
                    {
                        <tr>
                            <td>@reading.Pump.Name</td>
                            <td>@reading.Opening</td>
                            <td>@reading.Closing</td>
                            <td>@(String.IsNullOrEmpty(reading.Opening.ToString()) ? "Y" : string.Format("{0:N}", (reading.Closing - reading.Opening - reading.Adjustment)))</td>
                            <td>@string.Format("{0:N}", reading.Tests)</td>
                            <td>@string.Format("{0:N}", reading.Price)</td>
                            <td class="right">@(String.IsNullOrEmpty(reading.Opening.ToString()) ? "Y" : string.Format("{0:N}", ((reading.Closing - reading.Opening - reading.Adjustment - reading.Tests) * reading.Price)))</td>
                        </tr>
                    }
                </tbody>

                <thead class="deep-orange accent-2">
                    <tr>
                        <th>&nbsp;</th>
                        <th colspan="2">DAY'S SUMMARY</th>
                        <th>@string.Format("{0:N}", ltrs)</th>
                        <th>@string.Format("{0:N}", rtns)</th>
                        <th>XX.XX</th>
                        <th class="right">@string.Format("{0:N}", amts)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="col-md-6 zero-margin">
        <div class="card zero-margin">
            <div class="card-content cyan white-text table-card" style="border-radius:0">
                <h5 class="card-stats-number"><i class="material-icons left">local_gas_station</i>Tanks Summary</h5>
                <p class="card-stats-compare right">
                    <i class="material-icons">mode_edit</i>
                    <a class="cyan-text text-lighten-5" href='/edit/summaries/@Model.Timestamp.ToString("yyyyMMdd")'>Update</a>
                </p>
            </div>

            <table id="tanks" class="custom bordered">
                <thead class="cyan">
                    <tr>
                        <th>TANK</th>
                        <th>O/P BAL</th>
                        <th>SALES</th>
                        <th>DELIV</th>
                        <th>RETURN</th>
                        <th>C/P BAL</th>
                        <th>DIPS</th>
                        <th>VARIANCE</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var summary in Model.Summaries)
                    {
                        <tr>
                            <td>@summary.Tank.Name</td>
                            <td>@string.Format("{0:N}", summary.Opening)</td>
                            <td>@string.Format("{0:N}", summary.Sales)</td>
                            <td>@string.Format("{0:N}", summary.Delivery)</td>
                            <td>@string.Format("{0:N}", summary.Returns)</td>
                            <td>@string.Format("{0:N}", summary.Closing)</td>
                            <td>@string.Format("{0:N}", summary.Dips)</td>
                            <td>@string.Format("{0:N}", summary.Variance)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 zero-margin station">
        <ul id="task-card" class="collection with-header station">
            <li class="collection-header red accent-2">
                <h4 class="task-card-title">Debtors Summary</h4>
                <p class="task-card-date">@Model.Timestamp.ToString("MMM dd, yyyy")</p>
            </li>

            <li style="padding: 2px;">
                <table class="station striped">
                    <thead>
                        <tr>
                            <th>NAMES</th>
                            <th>FUEL</th>
                            <th>LUBES</th>
                            <th>DISC</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var ledger in Model.Ledgers)
                        {
                            <tr>
                                <td><a data-type="@ledger.Type" data-action="@ledger.Action" data-account="@ledger.Customer.Id" class="blue-text">@ledger.Customer.Name</a></td>
                                <td>@string.Format("{0:N}", ledger.FuelSales)</td>
                                <td>@string.Format("{0:N}", ledger.LubeSales)</td>
                                <td>@string.Format("{0:N}", ledger.Discounts)</td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>SUMMARY</th>
                            <th>@string.Format("{0:N}", fuel)</th>
                            <th>@string.Format("{0:N}", lube)</th>
                            <th>@string.Format("{0:N}", disc)</th>
                        </tr>
                    </tfoot>
                </table>
            </li>
        </ul>
    </div>

    <div class="col-md-6 zero-margin station">
        <ul id="task-card" class="collection with-header station">
            <li class="collection-header red accent-2">
                <h4 class="task-card-title">Breakdown Summary</h4>
                <p class="task-card-date">@Model.Timestamp.ToString("MMM dd, yyyy")</p>
            </li>

            <li style="padding: 2px;">
                <table id="summaryTbl" class="station striped">
                    <tbody>
                        <tr>
                            <th>CASH</th>
                            <td width="120">@string.Format("{0:N}", Model.Totals.Cash)</td>
                            <td width="120">@string.Format("{0:N}", Model.Totals.Expense)</td>
                        </tr>

                        <tr>
                            <th>DEBTORS</th>
                            <td>@string.Format("{0:N}", fuel + lube)</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>GAS (NON-VAT)</th>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>GAS VAT</th>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>LUBES</th>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>SODAS</th>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>CARWASH</th>
                            <td>@string.Format("{0:N}", Model.Totals.CarWash)</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>SERVICE</th>
                            <td>@string.Format("{0:N}", Model.Totals.Service)</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>TYRE CENTER</th>
                            <td>@string.Format("{0:N}", Model.Totals.TyreCtr)</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>OTHER INCOME</th>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

    <div class="col-md-12 zero-margin" style="margin-top: 10px;">
        <div class="card">
            <div class="card-action cyan darken-1" style="padding:5px">
                <div id="clients-bar" class="center-align"></div>
            </div>

            <table class="custom bordered">
                <thead class="cyan darken-2">
                    <tr>
                        <th>SALES</th>
                        <th>CASH</th>
                        <th>INVOICE</th>
                        <th>VISA</th>
                        <th>MPESA</th>
                        <th>P.O.S</th>
                        <th>EXPENSES</th>
                        <th>DISCOUNT</th>
                        <th>TOTAL</th>
                        <th>DIFFS</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><b class="red-text">@string.Format("{0:N}", amts)</b></td>
                        <td>@string.Format("{0:N}", Model.Totals.Cash)</td>
                        <td>@string.Format("{0:N}", fuel + lube - Model.Totals.Account)</td>
                        <td>@string.Format("{0:N}", Model.Totals.Visa)</td>
                        <td>@string.Format("{0:N}", Model.Totals.Mpesa)</td>
                        <td>@string.Format("{0:N}", Model.Totals.POS)</td>
                        <td>@string.Format("{0:N}", Model.Totals.Expense)</td>
                        <td>@string.Format("{0:N}", disc)</td>
                        <td><b class="red-text">@string.Format("{0:N}", fuel + lube + disc + Model.Totals.Cash + Model.Totals.Expense)</b></td>
                        <td><b class="blue-text">@string.Format("{0:N}", amts - fuel - lube - disc - Model.Totals.Cash - Model.Totals.Expense)</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="fc-toolbar">
        <div class="fc-left">
            <div class="fc-button-group">
                <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left" data-date='@(Model.Timestamp.AddDays(-1).ToString("yyyyMMdd"))'>
                    <span class="fc-icon fc-icon-left-single-arrow"></span>
                </button>
                <button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right">@Model.Timestamp.ToString("dd.MM.yyyy")</button>
                <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right" data-date='@(Model.Timestamp.AddDays(1).ToString("yyyyMMdd"))'>
                    <span class="fc-icon fc-icon-right-single-arrow"></span>
                </button>
            </div>

            <br /><br />
        </div>

        <div class="fc-clear"></div>
    </div>
</div>
<div style="clear:both"></div>